<link rel="stylesheet" type="text/css" href="/{{mobile_url}}/static/lib/css/bootstrap-3.3.6.min.css" />
<link rel="stylesheet" type="text/css" href="/{{mobile_url}}/static/lib/css/bootstrap-theme-3.3.6.min.css" />
<link rel="stylesheet" type="text/css" href="/{{mobile_url}}/static/lib/css/font-awesome-4.5.0.min.css" />
<link rel="stylesheet" type="text/css" href="/{{mobile_url}}/static/lib/css/google-fonts.css" />
<link rel="stylesheet" type="text/css" href="/{{mobile_url}}/static/css/octoprint-mobile.css"" />

