<script src="/plugin/mobile/static/lib/js/jquery-2.1.4.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/bootstrap-3.3.6.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/bootbox-4.4.0.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/knockout-3.4.0.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/lodash-4.3.0.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/sprintf.min.js" type="text/javascript"></script>
<script src="/plugin/mobile/static/lib/js/sockjs-0.3.4.min.js" type="text/javascript"></script>

