<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	
    {% include 'mobile_ui_stylesheets.jinja2' %}
</head>

<body>
	<div id="main" style="display:none;">
		<div class="container-fluid">
			<div class="row row-offcanvas row-offcanvas-left">
				<div class="col-xs-2 sidebar-offcanvas no-padding" id="sidebar" role="navigation">
					<ul class="nav nav-sidebar">
						<li><a class="menu-tab menu-tab-selected" id="info_tab_btn"><span class="fa fa-info-circle"></span></a></li>
						<li><a class="menu-tab" id="print_tab_btn"><span class="fa fa-print"></span></a></li>
						<li><a class="menu-tab" id="camera_tab_btn"><span class="fa fa-camera"></span></a></li>
						<li><a class="menu-tab" id="offset_tab_btn"><span class="fa fa-arrows"></span></a></li>
						<li><a class="menu-tab" id="settings_tab_btn"><span class='fa fa-sliders'></span></a></li>
					</ul>
				</div>
				<div class="col-xs-10 main no-padding">

					<div id="info_tab" class="printer">
						<p class="info-bar" data-bind="style: { background: isPower }" id="printer_status"><span data-bind="text: status"></span></p>
						<p class="info-bar" id="extruder_temp"></p>
						<p class="info-bar" id="bed_temp"></p>
						<p class="info-bar" id="printing_time_elapsed"  style="display:none;">00:00:00</p>
						<p class="info-bar" id="printing_time_left"  style="display:none;">00:00:00</p>
					</div>

					<div id="printer_tab">
						<div class="printer-bar">
							<div class="btn-group btn-spaced">
								<button type="button" class="btn btn-lg btn-default" data-bind="enable: enable, click: homeAll"><i class="fa fa-home fa-fw"></i>&nbsp;Home</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="enable: enable, click: autoLevel"><i class="fa fa-bars fa-fw"></i>&nbsp;Auto Level</button>
							</div>
						</div>
						<div class="printer-bar">
							<div class="btn-group btn-spaced">
								<button type="button" class="btn btn-lg btn-default" data-bind="enable: enable, click: loadFilament"><i class="fa fa-long-arrow-down fa-fw"></i>&nbsp;Load</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="enable: enable, click: unloadFilament"><i class="fa fa-long-arrow-up fa-fw"></i>&nbsp;Unload</button>
							</div>
						</div>
						<div class="printer-bar">
							<span class="curent_file" data-bind="text: printer.fileToPrint"><span>
						</div>
						<div class="printer-bar">
							<div class="btn-group btn-spaced">
								<button type="button" class="btn btn-lg btn-primary" data-bind="enable: canPrint, click: startPrint"><i class="fa fa-print fa-fw"></i>&nbsp;Print</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="visible: showResume, click: pausePrint"><i class="fa fa-play fa-fw"></i>&nbsp;Resume</button>
								<button type="button" class="btn btn-lg btn-default" data-bind="visible: showPause, enable: printer.isPrinting, click: pausePrint"><i class="fa fa-pause fa-fw"></i>&nbsp;Pause</button>
								<button type="button" class="btn btn-lg btn-danger" data-bind="enable: canCancel, click: cancelPrint"><i class="fa fa-stop fa-fw"></i>&nbsp;Cancel</button>
							</div>
						</div>

					</div>

					<div id="camera_tab" class="printer">
						<img data-bind="click: toggleLights" id="webcam">
					</div>
				
					<div id="offset_tab">
						<div class="col-xs-10 no-padding">
							<div class="offset-bar">
								<div class="input-group full_width square">
									  <span class="input-group-addon half_width_right square zero_border" id="offset">Offset (M851)</span>
									  <input type="text" disabled class="form-control square zero_border black" placeholder="unknown" aria-describedby="offset" data-bind="value: offset">
								 </div>
								 <div class="input-group full_width square">
									  <span class="input-group-addon half_width_right square zero_border" id="current_z">Current Z</span>
									  <input type="text" disabled class="form-control square zero_border black" placeholder="unknown" aria-describedby="current_z" data-bind="value: current_z">
								</div>
							</div>
							<div class="offset-bar">
									<button type="button" class="btn btn-default btn-lg" data-bind="click: prepareOffset, enable: canPrepare"><span class='fa fa-download fa-fw'></span>&nbsp;Prepare for offset calculation</button>
							</div>
								<div class="offset-bar">
									<button type="button" class="btn btn-default btn-lg" data-bind="click: saveOffset, enable: canSave"><span class='fa fa-save fa-fw'></span>&nbsp;Save Z offset</button>
								</div>
								<div class="offset-bar">
									<div class="btn-group">
									<button type="button" class="btn btn-default btn-lg" data-bind="click: offsetTest, enable: canPrepare"><span class='fa fa-check-square-o fa-fw'></span>&nbsp;Test</button>
									<button type="button" class="btn btn-default btn-lg" data-bind="click: offsetDone, enable: canPrepare"><span class='fa fa-home fa-fw'></span>&nbsp;Done</button>
								</div>
							</div>

							<div class="offset-bar top-border">
								<div class="btn-group btn-group-lg">
									<button type="button" class="btn btn-primary" data-bind="click: findZero, enable: canPrepare"><span class='fa fa-anchor fa-fw'></span>&nbsp;Reference</button>
									<button type="button" class="btn btn-default" data-bind="click: backLeft, enable: canPrepare"><span class='fa fa-angle-double-left fa-fw fa-rotate-45'></span>&nbsp;Left</button>
									<button type="button" class="btn btn-default" data-bind="click: frontMiddle, enable: canPrepare"><span class='fa  fa-angle-double-down fa-fw'></span>&nbsp;Middle</button>
									<button type="button" class="btn btn-default" data-bind="click: backRight, enable: canPrepare"><span class='fa fa-angle-double-right fa-fw fa-rotate-315'></span>&nbsp;Right</button>
								</div>
							</div>
						</div>
						<div class="col-xs-2 no-padding">
							<div class="btn-group-vertical btn-group-lg full_width">
								<button type="button" class="btn btn-eight micro_step_button btn-primary" data-bind="enable: enable, click: sendRelativeG.bind($data, '1')"><i class="fa fa-arrow-circle-up fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1</button>
								<button type="button" class="btn btn-eight micro_step_button btn-primary" data-bind="enable: enable, click: sendRelativeG.bind($data, '0.1')"><i class="fa fa-arrow-up fa-fw"></i>&nbsp;&nbsp;&nbsp;&nbsp; 0.1</button>
								<button type="button" class="btn btn-eight micro_step_button btn-primary" data-bind="enable: enable, click: sendRelativeG.bind($data, '0.05')"><i class="fa fa-angle-double-up fa-fw"></i>&nbsp;&nbsp;&nbsp; 0.05</button>
								<button type="button" class="btn btn-eight micro_step_button btn-primary" data-bind="enable: enable, click: sendRelativeG.bind($data, '0.01')"><i class="fa fa-angle-up fa-fw"></i>&nbsp;&nbsp; 0.01</button>
								<button type="button" class="btn btn-eight micro_step_button btn-danger" data-bind="enable: enable, click: sendRelativeG.bind($data, '-0.01')"><i class="fa fa-angle-down fa-fw"></i>&nbsp;&nbsp; 0.01</button>
								<button type="button" class="btn btn-eight micro_step_button btn-danger" data-bind="enable: enable, click: sendRelativeG.bind($data, '-0.05')"><i class="fa fa-angle-double-down fa-fw"></i>&nbsp;&nbsp; 0.05</a>
								<button type="button" class="btn btn-eight micro_step_button btn-danger" data-bind="enable: enable, click: sendRelativeG.bind($data, '-0.1')"><i class="fa fa-arrow-down fa-fw"></i>&nbsp;&nbsp;&nbsp; 0.1</button>
								<button type="button" class="btn btn-eight micro_step_button btn-danger" data-bind="enable: enable, click: sendRelativeG.bind($data, '-1')"><i class="fa fa-arrow-circle-down fa-fw"></i>&nbsp;&nbsp;&nbsp; 1.0</button>
							</div>
						</div>
					</div>
					
					<div id="settings_tab" class="printer">
						<div class="row row-half-screen">
							<div class="btn-group btn-group-lg">
								<button type="button"  class="btn btn-default" data-bind="click: toggleMute"><i class="fa fa-bell fa-lg" data-bind="style: { color: isMute}"></i>&nbsp;Speaker</button>
								<button type="button"  class="btn btn-default" data-bind="click: togglePower, enable: acceptsCommands"><i class="fa fa-power-off fa-lg" data-bind="style: { color: isPower}"></i>&nbsp;Power</button>
							</div>
						</div>
						<div class="row row-half-screen">
							&nbsp;
						</div>
						
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div id="disconnected_view" style="display:none;">
			<div>Disconnected</div>
			<button type="button" class="btn btn-lg btn-default" id="reconnect"><i class='fa fa-refresh fa-fw'></i> Reconnect</button>
	</div>
	
	<div id="loading_view">
		Loading...
	</div>
	
	<div id="camera_view"  style="display:none;">
		<img id="webcam_alone">
	</div>
	
    {% include 'mobile_ui_javascript_lib.jinja2' %}
    
	<script type="text/javascript">
	var home = false;
	var apikey = "{{ request.args.get('apikey') }}";
	</script>
    
    {% include 'mobile_ui_javascripts.jinja2' %}

</body>
</html>
